:root {
    --dark-color-text: #021112;
    --light-color-text: #FFFFFF;
    --color-for-btn: #13A6BA;
    --btn-paddings: 14px 26px;
    --font-size-20: 20px;
}



* {
    font-family: "Noto Serif", serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: #FBEDDA;
    position: relative;
    height: 2030.17px;
}


header ul {
    display: inline-block;
    list-style: none;
    
}

header li {
    display: inline-block;
    margin-right: 81px;
    transition: 0.5s;
}

header li:last-child {
    margin-right: 107px;
}

header .logo{
    margin-right: 647px;
}

header nav img {
    width: 131px;
}

header li a {
    color: var(--dark-color-text);
    font-size: 18px;
    line-height: 29px;
    transition: 0.2s;
}

header li a:hover {
    color: var(--color-for-btn);
}

header li:hover {
    transform: scale(1.3);
    font-weight: 600;
}

.btn {
    display: inline-block;
    color: var(--light-color-text);
    font-size: var(--font-size-20);
    line-height: 29px;
    background-color: var(--color-for-btn);
    border-radius: 8px;
    padding: var(--btn-paddings);
    transition: 0.5s;
}

.btn:hover {
    background-color:#000000;
    font-weight: 600;
    transform: scale(1.2);
}

header h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 105px;
    max-width: 988px;
    width: 100%;
    margin: 226px auto 0;
    word-wrap: break-word; 
    text-align: center;
}

header h1 + p {
    font-size: var(--font-size-20);
    text-align: center;
    line-height: 34px;
    font-weight: 400;
    color: #677071;
    margin-top: 31px;
}

.container {
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 21px;
    position: relative;
}

form {
    display: block;
    text-align: start;
    /* padding: 20px; */
    max-width: 1273px;
    width: 100%;
    height: 100%;
    min-height: 272px;
    border-radius: 20px;
    background-color: #fff;
    margin: 132px auto 0;
    /* border: 1px solid green; */
    font-size: 0;
}

.choose {
    padding: 40px 40px 0px 40px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
    border-bottom: 1px solid #E6E8E8;
}

.choose a {
    display: inline-block;
    font-size: 26px;
    color: #CCCFD0;
    margin-right: 80px;
    padding-bottom: 20px;
}



.choose a:active {
    color: #021112;
    border-bottom: 3px solid black;
    margin-bottom: -2px;
}


.dv {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    position: relative;
    /* border: 1px solid purple; */
}

.dv:after{
    content: "";
    position: absolute;
    top: 30px;
    right: 40px;
    width: 1px;
    height: 50px;
    background: #CFCCCC;
}



.dv:last-of-type::after {
    display: none;
}


.dv img {
    width: 15px;
    margin-right: 4px;
}

.dv label {
    font-size: 18px;
    line-height: 29px;
    color: #677071;
}

.dv p {
    color: #021112;
    line-height: 50px;
    font-weight: 600;
    font-size: 36px;
    margin-right: 170px;
    padding-left: 20px;
    margin-top: 6px;
}

.dv p:last-child {
    margin-right: 107px;
}

.btn-search {
    color: #fff;
    font-size: 28px;
    line-height: 29px;
    width: 206px;
    border-radius: 20px;
    background-color: #13A6BA;
    padding: 25px 60px;
    margin-bottom: 10px;
}

.house {
    position: absolute;
    width: 2345.75px;
    top: 847.67px;
    height: 1318.91px;
    left: -212.87px;
}








